.flex {
  display: flex;
  flex-direction: var(--direction, row);
  justify-content: var(--justify, start);
  align-items: var(--align, center);
  gap: var(--gap, 1rem);
}

.flow {
  > * + * {
    margin-top: var(--flow-gap, 1rem);
  }
}

// Grid
.grid-container {
  position: relative;

  display: grid;
  grid-template-columns: minmax(25px, 5vw) 1fr minmax(25px, 5vw);
}

.main-navigation,
.lightbox-gallery_nav,
.product-content {
  grid-column: 2 / 3;
}

.lightbox-gallery {
  grid-area: 2 / 1 / 3 / -1;

  &_nav {
    --justify: space-between;
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    height: 50px;
    z-index: 2;
  }

  &_thumbnails {
    display: none;
  }
}
