@media (min-width: 568px) {
  :root {
    --fs-900: 2.7rem;
    --fs-600: 1rem;
    --fs-400: 1rem;
    --fs-300: 0.825rem;
  }
  h1 {
    line-height: 1.1;
    margin-bottom: 2.3rem;
  }
  // Layout
  .grid-container {
    grid-template-columns: minmax(25px, 5vw) 1fr 1fr minmax(25px, 5vw);
  }

  .main-navigation {
    grid-column: 1 / -1;
    --justify: space-between;
  }

  .lightbox-gallery {
    grid-column: 2 / 3;
    justify-self: start;

    &_nav {
      display: none;
    }

    &_thumbnails {
      --justify: space-between;
      display: flex;
      gap: 1rem;
    }
  }

  .lightbox-gallery,
  .product-content {
    max-width: 90%;
  }

  .product-content {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: end;
  }

  // Components
  .main-navigation {
    &_toggle {
      display: none;
    }

    &_list {
      --justify: start;
      --direction: row;
      position: relative;
      transform: translateX(0);

      button {
        display: none;
      }
    }

    &_link {
      color: $Dark-grayish-blue;
      font-weight: 400;
    }
  }

  .lightbox-gallery {
    &_big-img {
      border-radius: 15px;
      overflow: hidden;
    }
    &_thumbnails {
      margin-top: 1.8rem;

      div {
        overflow: hidden;
        border-radius: 10px;
      }
    }
  }

  .product-content {
    article {
      margin-top: 1.1rem;
      line-height: 1.6;
    }

    &_price {
      line-height: 1;
      flex-wrap: wrap;
      width: 100%;

      span:last-of-type {
        margin-left: 0;
        flex-basis: 100%;
      }
    }
  }

  .cart {
    &_btn-box {
      --direction: row;
      margin-top: 2.45rem;

      > :first-child {
        flex-basis: 40%;
      }
      > :last-child {
        flex-basis: 60%;
      }
    }
  }

  .modal {
    display: grid;
  }
}
