@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --fs-900: 1.75rem;
  --fs-800: 1.75rem;
  --fs-500: 1.1rem;
  --fs-400: 0.95rem;
  --fs-300: 0.75rem;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: var(--fs-400);
}

h1 {
  font-size: var(--fs-900);
  line-height: 1;
}

// Colors

h1,
.big-text {
  color: $Very-dark-blue;
}

p {
  color: $Dark-grayish-blue;
}

// Utility
.text-accent {
  font-size: var(--fs-300);
  font-weight: 700;
  letter-spacing: 1.75px;
  color: $Orange;
  text-transform: uppercase;
}

.text-big {
  font-size: var(--fs-800);
  font-weight: 700;
}

.text-line-through {
  font-weight: 700;
  color: $Grayish-blue;
  text-decoration: line-through;
}
