.btn {
  cursor: pointer;

  &-no-border {
    margin: 0;
    padding: 0;
    border: none;

    background-color: transparent;
  }

  &-primary {
    --direction: row;
    --justify: center;

    border: none;
    border-radius: $border-radius;
    padding: 1rem 2rem;

    font-weight: 700;
    font-size: var(--fs-400);
    line-height: 1;
    color: White;
    background-color: $Orange;

    svg {
      transform: scale(80%);
      path {
        fill: $White;
      }
    }
  }

  &-rounded {
    position: relative;
    padding: 0.5rem;
    height: 40px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;

    line-height: 0;

    background-color: $Light-grayish-blue;

    svg {
      transform: scale(70%);

      path {
        stroke-width: 4;
        stroke: $Very-dark-blue;
      }
    }
  }
}
