.cart {
  position: relative;

  & #cart-panel {
    position: relative;

    &::before {
      content: var(--items-amount, none);

      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;

      background-color: red;
    }
  }

  &_box {
    display: none;

    position: absolute;
    top: 20px;
    left: -300%;
    transform: translateX(-50%);
    width: 250px;

    padding: 1rem;

    background-color: white;
    outline: 1px solid red;

    &.expanded {
      display: block;
    }
  }

  &_items {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &_item {
    --direction: row;
    --gap: 0;
  }

  &_item-img {
    flex-shrink: 0;
    width: 30px;
  }
}
