.cart {
  //position: relative;
  isolation: isolate;
  z-index: 3;

  & #cart-panel {
    position: relative;

    &::before {
      content: var(--items-amount, none);

      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;

      background-color: red;
    }
  }

  &_box {
    // if not empty hide message and show items
    > p {
      display: none;
    }
    > ul,
    > button {
      display: block;
      grid-area: 2 / 2 / 3 / 3;
    }

    &.expanded {
      display: grid;
      grid-template: 4rem 1fr / 1rem 1fr 1rem;
    }
    &.empty {
      > p {
        display: inline;
      }
      ul,
      button {
        display: none;
      }
    }

    display: none;
    position: absolute;
    top: 75px;
    left: 5px;
    right: 5px;
    min-height: 255px;
    padding-block-end: 2rem;

    border-radius: $border-radius;

    background-color: $White;

    > h3 {
      grid-area: 1 / 2 / 2 / 3;
      align-self: center;
      font-size: var(--fs-500);
    }

    > .h-line {
      grid-area: 1 / 1 / 2 / 4;
      background-color: rgba($Grayish-blue, $alpha: 0.3);
      place-self: end;
      height: 1px;
      width: 100%;
    }

    > p {
      place-self: center;
      font-weight: 700;

      grid-area: 2 / 2 / 3 / 3;
    }

    > button {
      align-self: end;
      line-height: 1.4;
    }
  }

  &_items {
    margin: 0;
    padding: 0;
    align-self: start;
    padding-block-start: 1.5rem;
    padding-block-end: 4.25rem;

    list-style: none;
  }

  &_item {
    --direction: row;
    --gap: 1rem;
    font-size: var(--fs-500);

    button:last-of-type {
      margin-left: auto;
    }

    &-price {
      span:last-of-type {
        font-weight: 700;
        color: $Very-dark-blue;
      }
    }
  }

  &_item-img {
    flex-shrink: 0;
    width: 50px;
    border-radius: $border-radius / 2;
    overflow: hidden;
  }

  // Add to chart buttons
  &_btn-box {
    --direction: column;
    --align: stretch;
  }

  &_amount {
    --direction: row;
    --justify: space-between;
    padding: 1rem 1.5rem;
    border-radius: $border-radius;

    font-size: var(--fs-500);
    font-weight: 700;
    color: $Very-dark-blue;

    background-color: $Light-grayish-blue;
  }
}
