@import 'navigation';
@import 'modal';
@import 'buttons';
@import 'cart';
@import 'gallery';

body {
  padding-bottom: 3.75rem;
}

.product-content {
  &_price {
    span:last-of-type {
      margin-left: auto;
    }
  }
}

.box {
  &-small {
    padding: 0.1rem 0.5rem;
    border-radius: 6px;

    font-size: var(--fs-500);
    font-weight: 700;

    color: $Orange;
    background-color: $Pale-orange;
  }
}
