.lightbox-gallery {
  &_big-img {
    height: 300px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.thumbnail {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
