.lightbox-gallery {
  &_big-img {
    height: 300px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.thumbnail {
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.active-img {
  outline: 2px solid $Orange;
  outline-offset: -1px;

  img {
    opacity: 0.3;
  }
}
