body {
  position: relative;
}

.modal {
  // on mobile show hidden
  display: none;

  position: absolute;
  inset: 0;
  min-height: max(100vh, 100%);

  z-index: 5;

  place-content: center;

  background-color: rgba($color: $Black, $alpha: 0.75);

  &_inner-container {
    --direction: column;
    margin: auto;
    max-width: 525px;
  }

  &_close {
    margin-inline-start: auto;
  }

  &_big-img {
    position: relative;
  }

  &_nav {
    --justify: space-between;
    --direction: row;

    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &_thumbnails {
    --direction: row;
  }

  &.hide {
    display: none;
  }
}
