.main-navigation {
  &_list {
    --direction: column;

    position: absolute;
    top: 0;
    left: 0;
    height: min-content;
    transform: translateX(-100%);

    background-color: white;

    z-index: 1;

    transition: transform 0.4s ease-in-out;

    &.expanded {
      transform: translateX(0);
    }

    button {
      margin-right: auto;
    }
  }
}

.user-menu {
  margin-inline-start: auto;

  .user-menu_profile-img {
    width: 30px;
  }
}
