.main-navigation {
  padding-block: 1.25rem;

  &_list {
    --direction: column;
    --align: start;
    --gap: 1.35rem;

    position: absolute;
    padding: 1.5rem;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    transform: translateX(-100%);

    background-color: $White;

    z-index: 5;

    transition: transform 0.4s ease-in-out;

    button {
      margin-block-end: 1.5rem;
    }
  }

  &_link {
    font-size: var(--fs-600);
    font-weight: 700;
    color: $Very-dark-blue;
    text-decoration: none;
  }

  &.expanded {
    .main-navigation_list {
      transform: translateX(0);
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;

      z-index: 3;

      background-color: rgba($color: $Black, $alpha: 0.75);
    }
  }
}

.user-menu {
  margin-inline-start: auto;

  .user-menu_profile-img {
    width: 24px;
  }
}
